*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
a{
    text-decoration: none;
}

.header{
    background: #ffff;
    box-shadow: 1px 2px 2px 1px whitesmoke;
}
.container{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}
li{
    list-style: none;
    display: inline-block;
    padding: 12px 14px;
}
li a{
    color: #222;
}
li a:hover{
    color: black;
}
.header-cta{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-cta a{
    color: #ffff;
    padding: 12px 18px;
    background: #353232;
}
.header-cta a:hover{
    background: #464545;
}
.menu-btn{
    font-size: 24px;
    display: none;

}
.hero-inner{
    display: flex;
    margin: 40px 0;
}
.left-content{
    flex: 1 1 40%;
}
.left-content h2{
    margin: 30px 0;
}
.right-side{
    flex: 1 1 60%;
}
.hero-cta{
    margin: 40px 0;
}
.hero-cta a{
    border: 1px solid #222;
    padding: 12px 14px;
}